
opencv-python
pyttsx3
SpeechRecognition
pyaudio
spacy
numpy==1.26.0
contourpy
thinc
numba
bokeh
datashader
matplotlib
pandas
seaborn
opencv-python-headless
speechrecognition
pydub
watchdog
spicy
imutils
gTTS
fastapi
uvicorn
playsound


